
        
        <nav class="menu">
            <a href="/"><h1>Exclusive</h1></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://chat.whatsapp.com/L6aeRiY2BTd3GWNkRT33I5">Contact</a></li>
              
                <li><a href="/login">Sign Up</a></li>
                <li><a href="/vendedor/login">seller's area</a></li>
            </ul>
            <div class="search-bar">
                <div class="container1">
                    <h1> <br> </h1>
                    <div class="search-container">
                      
                        <input type="text" id="searchInput" placeholder="What are you looking for?">
                        <button onclick="search()"><img src="/img/Component 2.svg" alt=""></button>
                      </div>
                      
                      <div id="searchResults">
                        <!-- Os resultados da pesquisa serão exibidos aqui -->
                      </div>
                      
                      <a href="/html/favoritos.html"><button id="carrinho" type="submit"><img src="/img/Design_sem_nome__3_-removebg-preview.png" alt="Search icon"></button></a>
                      <a href="/html/carrinho.html"><button id="carrinho" type="submit"><img src= "/img/Design_sem_nome__4_-removebg-preview.png" alt="Search icon"></button></a> 
                      
                  </div>
                 
              
               
            </div>
      
        </nav>
        
        <hr>

      