/* STYLE DO TOPO DA PAGINA*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}


.cabecalho{
    text-align: center;
}

.cabecalho h1{
    background-color: black;
    color: white;
    font-size: 17px;
    text-align: center;
}


.cabecalho a{
    text-decoration: none;
    color: white;
}

#titulo{
    text-transform: uppercase;
    font: bolder;
}

.topo{
  display: flex;
  padding: 120px;
  padding-bottom: 0px;
  font-size: 17px;
}


.pagina a{
    text-decoration: none;
    color: black;
}
.pagina span{
    color: gray;
}

.pagina{
    width: 50%;
}

.paginaD a{
    text-decoration: none;
    color: black;
}
.paginaD{
    width: 50%;
    text-align: right;

}
.paginaD #nomeUsuario,
.container1 #nomeUsuario{
    color: rgb(228, 63, 63);
}

/*CENTRO DA PAGINA*/


.containerPai{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  font-size: 16px;
  padding-top: 0px;
  padding: 120px;
}

.container1{
  position: absolute;
  left: 0;
  height: 900px;
  padding: 120px;
  padding-top: 0px;
}

.container1 ul {
  list-style-type: none;
  margin-left: 40px;
}

.container1 h1{
  font-size: 24px;
}
.container1 ul li {
  padding: 7px;
}

.container1 li{
  color: #828282;
}
.container1 a{
  text-decoration: none;
  color: #828282;
}
.container1 h1 a{
  text-decoration: none;
  color: #313131;
}


.container2 {
  height: 400px;
  width: 870px;
  padding-top: 0px;
}

.container2 input{
  border-radius: 4px;
  border: none;
  color: #828282;
  background-color: #F5F5F5;
}

/*AREA DE EDITAR A CONTA*/

.profile-edit {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 550px;
  width: 1000px;
}

.profile-edit h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(228, 63, 63);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
}

.form-group_campos input{
  width: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  

}

.form-group input[disabled] {
  background-color: #eee;
}

.form-row {
  display: flex;  
  justify-content: space-between;
  gap: 10px; 
}

.form-row .form-group {
  flex: 1;
}

.form-group_campos input{
  margin-right: 20px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-actions button{
  font-size: 16px;
  height: 50px;
}
.cancel-button,
.save-button {
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
}

.cancel-button{
  border: none;
  height: 50px;
  width: 200px;
  background-color: white;
  color: black;
}

.save-button{
  color: white;
  background-color: rgb(228, 63, 63);
}

.cancel-button ,
.save-button button:hover{
  cursor: pointer;
}


/*STYLE DO RODA PÉ DA PAGINA*/

.rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}

.profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
}
.profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
}
.profileRodaPe a{
    text-decoration: none;
    color: white;
}

.rodape img{
    width: 80%;
}

#cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
      
      
}
header{
    width: 100%;
    height: 30px;
    background-color: black;
    align-items: center;
}
header h6{

    text-align: center;
    color: white;
   
   
}
.menu{
  height: 100px;
}


.menu h1{
  display: inline-block;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 30px;
  margin-right: 300px;
}

.menu h5{
  display: inline-block;
    margin-right: 60px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 16px; 
}

/* style.css */
:root {
  --font-family: "Nanum Gothic", sans-serif;
  --font-size: 11px;
  --header-height: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: black;
  text-align: center;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu h1 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 30px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 60px;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-bar input[type="text"] {
  background-color: #e6e6e6;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  outline: none;
  height: 30px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e6e6e6;
  color: #c1c1c1;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  height: 30px;
}

.search-bar button img {
  height: 20px;
  
}

.search-bar button:hover {
  background-color: #ccc;
}

#carrinho{
  background-color: #ffffff;
margin-bottom: 10px;
object-fit: cover;
 
  
}

#lupa img{
  margin-bottom: 50px;
}

hr{
  background-color: #ccc;
}
.menu nav{
  height: 30px;
}
header h1{
  margin-top: 40px;
  
}




#sidebar {
  width: 200px;
  float: left;
}

#sidebar ul {
  width: 200px;

  list-style-type: none;
  padding: 0;
  margin: 20px;
  margin-left: 100px;
}

#sidebar li {
  margin-bottom: 5px;
}

#sidebar a {
  display: block;
  padding: 5px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

#sidebar a:hover {
  background-color: #ffffff;
}

#line{
  position: absolute;
  margin-left: 200px;
}

#side-img{
  height: 450px;
margin-top: 10px;
margin-left: 300px;

 
}

.today{
  margin-top: 100px;
  margin-left: 150px;
 
}
.today h1{
  margin-top: 40px;
  font-size: 35px;
  font-weight: bold;
}
.card{
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  border: 0px solid black;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.card img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card h3{
  margin: 50px;
}

 
.dad {
  white-space: nowrap;
  text-align: center;
}
 
.hq {
  display: inline-block;
  margin-right: 10px; /* Ajuste conforme necessário */
  vertical-align: top; /* Para alinhar as divs no topo */
  text-align: left;
  margin: 5px;
  transition: transform 0.3s ease;
 
 
 
}
 
 
.hq img{
  height: 300px;
  width: 300px;
  margin: 5px;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 
 
 
}
 
 

 
h4{
  width: 200px ;
  margin: 20px;
  white-space: pre-line;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
 
.dad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.hq:hover {
  transform: translateY(-10px); /* Faz a imagem "saltar" quando o mouse passa por cima */
}
 
.hq:hover h4 {
  color: rgb(111, 0, 0); /* Muda a cor do texto para vermelho quando o mouse passa por cima */
}

#preco{
  margin: 20px;
  font-size: 15px;
  color: #DB4444;
  font-weight: bold;
}
.botao{
  text-align: center;
  margin: 50px;
}

#button{
  height: 60px;
  width: 250px;
  background-color: #DB4444;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.botao:hover {
  transform: translateY(-2px);
}


.categoria:hover {
  transform: translateY(-10px); /* Faz a imagem "saltar" quando o mouse passa por cima */
}
 
.categoria:hover img {
 background-color: #DB4444; /* Muda a cor do texto para vermelho quando o mouse passa por cima */
}
 
.categoria {
  display: inline-block;
  margin-right: 10px; /* Ajuste conforme necessário */
  vertical-align: top; /* Para alinhar as divs no topo */
  text-align: left;
  margin: 5px;
  transition: transform 0.3s ease;
 
 
 
}
 
 
.categoria img{
  height: 250px;
  width: 250px;
  margin: 5px;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border: #333;
 
 
 
}

.verMais{
  height: 60px;
  width: 180px;
  background-color: #DB4444;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  float: right;
}

#linha {
  border: none;
  height: 0.5px;
  background-color: #bababa;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  margin-top: 100px;

}

.today button{

  margin-top: 50px;
  margin-right: 145px;

}

.verMais:hover{
  transform: translateY(-2px);
}

.imagem img{
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.play img{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
height: 800px;
object-fit: cover;

}

.shop{
  margin: 100px;
  text-align: center;
  
}

.shop h3{
  font-size: 25px;
  color: black;
 
}

.shop a{

  color: black;
}

.pre img{
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

}

.shop1{
  margin-left: 200px;
  margin-top: 50px;
  text-align: center;
  
}

.shop1 h3{
  font-size: 25px;
  color: black;
 
}

.shop1 a{

  color: black;
}

.rodape img{
  margin-top: 150px;
  width: 100%;
}


.rodape{
  color: white;
  background-color: black;
  width: 100%;
  height: 600px;
  display: flex;
}

.profileRodaPe{
  margin-top: 100px;
  width: 25%;
  height: 60%;
  font-size: 12px;
  margin-left: 30px;
}
.profileRodaPe input{
  background-color: black;
  color: white;
  border: 1px white solid;
  height: 30px;
}
.profileRodaPe a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.rodape img{
  margin-top: 30px;
  width: 80%;
}

/* copright */
#cabo{
  background-color: black;
  color: #313131;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

.profileRodaPe h1{
  font-weight: bold;
  font-size: 20px;
}

.profileRodaPe p{
margin-top: 10px;
  font-size: 18px;
}

#rodapeCaixa{
  width: 150px;
}

.seta{
  border: none;

  background-color: black;
}