  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Nanum Gothic", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 11px;
        
        
  }
  header{
      width: 100%;
      height: 30px;
      background-color: black;
      align-items: center;
  }
  header h6{

      text-align: center;
      color: white;
    
    
  }
  .menu{
    height: 100px;
  }


  .menu h1{
    left: 0;
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin-right: 300px;
  }

  .menu h5{
    display: inline-block;
      margin-right: 60px;
      font-size: 30px;
      color: rgb(0, 0, 0);
      margin: 16px; 
  }

  /* style.css */
  :root {
    --font-family: "Nanum Gothic", sans-serif;
    --font-size: 11px;
    --header-height: 50px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }

  header {
    width: 100%;
    height: var(--header-height);
    background-color: black;
    text-align: center;
    color: white;
  }

  .menu {
    display: flex;
    justify-content: center;
  
    padding: 20px;

  }

  .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  .menu li {
    margin-right: 60px;
  }

  .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .search-bar input[type="text"] {
    background-color: #e6e6e6;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 5px 0 0 5px;
    outline: none;
    height: 30px;
  }

  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e6e6e6;
    color: #c1c1c1;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    height: 30px;
  }

  .search-bar button img {
    height: 20px;
    
  }

  .search-bar button:hover {
    background-color: #ccc;
  }

  #carrinho{
    background-color: #ffffff;
  margin-bottom: 10px;
  object-fit: cover;
  
    
  }

  #lupa img{
    margin-bottom: 50px;
  }

  hr{
    background-color: #ccc;
  }
  .menu nav{
    margin-right: 40px;
    height: 30px;
  }
  header h1{
    margin-top: 40px;
    
  }




  #sidebar {
    width: 200px;
    float: left;
  }

  #sidebar ul {
    width: 200px;

    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-left: 100px;
  }

  #sidebar li {
    margin-bottom: 5px;
  }
  .hq img {
  padding: 20px;
  }
  #sidebar a {
    margin-top: 20px;
    display: block;
    padding: 5px;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    font-size: 20px;
  }

  #sidebar a:hover {
    background-color: #ffffff;
  }

  #line{
    position: absolute;
    margin-left: 200px;
  }

  #side-img{
    max-width: 1000px;
    height: 450px;
  margin-top: 10px;
  margin-left: 300px;

  
  }
  footer {
  margin-top: 100px;
  }

  .today{
    margin-top: 100px;
    margin-left: 150px;

  }
  .today h1{
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
  }
  .card{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    border: 0px solid black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  }

  .card img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .card h3{
    margin: 50px;
  }

  
  .dad {
    white-space: nowrap;
    text-align: center;
  }
  
  .hq {
    display: inline-block;
    margin-right: 10px; /* Ajuste conforme necessário */
    vertical-align: top; /* Para alinhar as divs no topo */
    text-align: left;
    margin: 5px;
    transition: transform 0.3s ease;
  
  
  
  }
  
  
  .hq img{
    height: 300px;
    width: 300px;
    margin: 5px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  
  
  }
  
  

  
  h4{
    width: 200px ;
    margin: 20px;
    white-space: pre-line;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  
  .dad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .hq:hover {
    transform: translateY(-10px); /* Faz a imagem "saltar" quando o mouse passa por cima */
  }
  
  .hq:hover h4 {
    color: rgb(111, 0, 0); /* Muda a cor do texto para vermelho quando o mouse passa por cima */
  }

  #preco{
    margin: 20px;
    font-size: 15px;
    color: #DB4444;
    font-weight: bold;
  }
  .botao{
    text-align: center;
    margin: 50px;
  }

  #button{
    height: 60px;
    width: 250px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .botao:hover {
    transform: translateY(-2px);
  }


  .categoria:hover {
    transform: translateY(-10px); /* Faz a imagem "saltar" quando o mouse passa por cima */
  }
  
  .categoria:hover img {
  background-color: #DB4444; /* Muda a cor do texto para vermelho quando o mouse passa por cima */
  }
  
  .categoria {
    display: inline-block;
    margin-right: 10px; /* Ajuste conforme necessário */
    vertical-align: top; /* Para alinhar as divs no topo */
    text-align: left;
    margin: 5px;
    transition: transform 0.3s ease;
  
  
  
  }
  
  
  .categoria img{
    height: 250px;
    width: 250px;
    margin: 5px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border: #333;
  
  
  
  }

  .verMais{
    height: 60px;
    width: 180px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    float: right;
  }

  #linha {
    border: none;
    height: 0.5px;
    background-color: #bababa;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    margin-top: 100px;

  }

  .today button{

    margin-top: 50px;
    margin-right: 145px;

  }

  .verMais:hover{
    transform: translateY(-2px);
  }

  .imagem img{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .play img{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  height: 800px;
  object-fit: cover;

  }

  .shop{
    margin: 100px;
    text-align: center;
    
  }

  .shop h3{
    font-size: 25px;
    color: black;
  
  }

  .shop a{

    color: black;
  }

  .pre img{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

  }

  .shop1{
    margin-left: 200px;
    margin-top: 50px;
    text-align: center;
    
  }

  .shop1 h3{
    font-size: 25px;
    color: black;
  
  }

  .shop1 a{

    color: black;
  }

  .rodape img{
    margin-top: 150px;
    width: 100%;
  }


  .rodape{
    color: white;
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
  }

  .profileRodaPe{
    margin-top: 100px;
    width: 25%;
    height: 60%;
    font-size: 12px;
    margin-left: 30px;
  }
  .profileRodaPe input{
    background-color: black;
    color: white;
    border: 1px white solid;
    height: 30px;
  }
  .profileRodaPe a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }

  .rodape img{
    margin-top: 30px;
    width: 80%;
  }

  /* copright */
  #cabo{
    background-color: black;
    color: #313131;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
  }

  .profileRodaPe h1{
    font-weight: bold;
    font-size: 20px;
  }

  .profileRodaPe p{
  margin-top: 10px;
    font-size: 18px;
  }

  #rodapeCaixa{
    width: 150px;
  }

  .seta{
    border: none;

    background-color: black;
  }
  .container1 {
    margin-right: 100px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  .search-container {
    text-align: center;

  }
  
  
  #searchInput {

    width: 250px;
    border-radius: 5px;



  }
  
  .search-container button {


    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
  }
  
  .search-container button:hover {
    background-color: #ffffff;
  }
  
  
  #searchResults {
  
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }

  .search-container button img{
    margin-bottom: -9px;
    width: 25px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
  }

  .teste {
  background-color: pink;
  visibility: hidden;
  }

  .esconder {
    visibility: hidden;
  }

  .dropbtn {
    background-color: #DB4444;

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #DB4444;

  }



  .shop11 {
  margin: 0 auto;
  margin-top: 20px;
    text-align: center;
    
  }


  .shop11 h3{
    font-size: 25px;
    color: black;
  
  }

  .shop11 a{

    color: black;
  }













  @media only screen and (max-width: 600px) {
    .imagem img {
      width: 100%;
      margin-top: 50px;
    }
  
    .menu h1 {
      font-size: 25px;
      margin-left: 30px;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .search-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .dropbtn {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #carrinho {
      right: 0;
      margin: 0;
      padding: 0;
      width: 35px;
      margin-bottom: 15px;
    }
  
    .search-bar button {
      width: 100%;
      margin-bottom: 15px;
    }
  
    #sidebar {
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    #sidebar ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: space-around;
    }
  
  .menu ul {
    display: none;
  }
    #sidebar a {
      font-size: 14px;
      padding: 8px;
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  
    .shop1 h3 {
      display: none;
    }
  .container1 {
    margin-right: 90px;
  }
  .dropdown-content a {
font-size: 10px;
}
dropdown:hover .dropdown-content {
  display: block;
  width: 100px;
}
    .today {
      width: 100%;
      margin: 0;
      margin-top: 50px;
    }
  
    .today h1 {
      display: none;
    }
  
    .h1 {
      width: 100px;
    }
  
    .rodape {
      height: 100%;
    }
  
    .dad a {
      width: 180px;
      height: max-content;
    }
  
    .tipos {
      display: flex;
      margin-top: 40px;
    }
  #linha {
    border: none;
    height: 0.5px;
    background-color: #bababa;
    width: 80%;
    margin-right: 20px auto;
    margin-left: 20px auto;
    border-radius: 5px;
    margin-top: 40px;
  }
    .hq img {
      height: 140px;
      width: 140px;
      margin: 5px;
      margin-top: 40px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      object-fit: contain;
    }
  
    .hq h4 {
      width: 140px;
      font-size: 15px;
      margin-bottom: 10px;
    }
  
    #preco {
      font-size: 13px;
      margin-top: 2px;
      margin-bottom: 0;
    }
  
    .hq {
      width: 100%;
      margin-right: 1%;
    }
  
    .categoria img {
      margin: 0;
      object-fit: contain;
      width: 100px;
      height: 100px;
      display: block;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;

    }

    .categoria a {
      height: 100px;
      width: max-content;
    }
  
    .shop11 h3 {
      display: none;
    }
  
    .categoria {
      padding: 20px;
      width: 30%;
      margin-right: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .categoria h3, .categoria p {
      text-align: center;
      font-size: 1em; 
    }
  
    .botao {
      margin: 30px;
    }
  
    #button {
      width: 50%;
      padding: 10px;
      height: auto;
      font-size: 15px;
    }
  
    .shop1, .shop11 {
      margin-left: 0;
    }
  
    .shop11 h3 {
      font-size: 22px;
    }
  
    .pre img {
      width: 100%;
      height: auto;
      padding: 30px;
      margin-top: 20px;
    }
  
    .play img {
      margin-top: 50px;
      width: 100%;
      height: auto;
    }
  
    .rodape {
      margin-top: 20px;

      height: 100%;
      padding: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .profileRodaPe {
      width: 25%;
      margin-left: 0;
      margin-top: 50px;
      height: 100px;
    }
  #rodapeCaixa {
    width: 50px;
    height: 10px;
  }
  .seta img{
    margin-top: 0;
    height: 10px;
  }
    .profileRodaPe h1 {
      font-size: 10px;
    }
  
    .profileRodaPe p, .profileRodaPe a {
      font-size: 6px;
    }
  
    #line {
      display: none;
    }
  
    #side-img {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  }
  

































  @media only screen and (min-width: 601px) and (max-width: 1000px) {

    .imagem img {
      width: 100%;
      margin-top: 100px;
    }

    .menu h1 {
      display: none;
    }

    .menu ul {
      flex-direction: row;
      align-items: center;
    }

    .menu li {
      margin-right: 30px;
    }

    .search-bar {
      flex-direction: row;
    }

    .search-bar input[type="text"] {
      width: 70%;
      margin-bottom: 0;
    }
  .dropbtn {
    margin-right: 16px;
  }
    #carrinho {
      right: 0;
      margin: 0;
      padding: 0;
      width: 35px;
      margin-bottom: 15px;
    }

    .search-bar button {
      width: 80px;
      margin-bottom: 15px;
    }

    #sidebar {
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    #sidebar ul {
      display: flex;
      width: max-content;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    #sidebar li {
      width: 48%;
      margin: 1%;
    }

    #sidebar a {

      font-size: 16px;
      padding: 8px;
      display: block;
      width: max-content;
      text-align: center; 
      border: 1px solid #ccc;
      border-radius: 5px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    }

    .shop1 h3 {
      display: none;
    }

    .today {
      width: 100%;
      margin: 0;
      margin-top: 50px;
    }

    .today h1 {
      display: none;
    }

    .h1 {
      width: 100px;
    }

    .rodape {
      height: 100%;
    }

    .dad a {
      width: 180px;
      height: max-content;
    }

    .tipos {
      display: flex;
    }
    

    .hq img {
      height: 140px;
      width: 140px;
      margin: 5px;
      margin-top: 40px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      object-fit: contain;
    }

    .hq h4 {
      width: 140px;
      font-size: 15px;
      margin-bottom: 10px;
    }

    #preco {
      font-size: 13px;
      margin-top: 2px;
      margin-bottom: 0;
    }

    .hq {
      width: 100%;
      margin-right: 1%;
    }

    .categoria img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }

    .shop11 h3 {
      display: none;
    }

    .categoria {
      width: 30%;
      margin-right: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .categoria h3, .categoria p {
      text-align: center;
      font-size: 1em; 
    }

    .botao {
      margin: 30px;
    }

    #button {
      width: 30%;
      padding: 10px;
      height: auto;
      font-size: 15px;
    }

    .shop1, .shop11 {
      margin-left: 0;
    }

    .shop11 h3 {
      font-size: 22px;
    }

    .pre img {
      width: 100%;
      height: auto;
      padding: 30px;
    }

    .play img {
      margin-top: 50px;
      width: 100%;
      height: auto;
      padding: 30px;
      
    }

    .rodape {
      padding: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .profileRodaPe {
      width: 25%;
      margin-left: 0;
      margin-top: 50px;
      height: 200px;
    }

    .profileRodaPe h1 {
      font-size: 20px;
    }

    .profileRodaPe p, .profileRodaPe a {
      font-size: 12px;
    }

    #line {
      display: none;
    }

    #side-img {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  } 



























  @media only screen and (min-width: 1001px) and (max-width: 1499px) {
    #side-img {
      width: 65%;
      margin-top: 50px;
      height: auto;
      margin-right: 3%;
      margin-left: 3%;
    }
    #sidebar a {
      width: max-content;
    }
    #sidebar {
      width: 29%;
      border-right: 1px solid gray ;
    }
    .shop1 h3, .shop11 h3 {
      display: none;
    }
    #line {
      display: none;
    }
    .imagem img {
      width: 100%;
      margin-top: 100px;
    }
    .pre img {
      width: 100%;
      height: auto;
      padding: 30px;
    }

    .play img {
      margin-top: 50px;
      width: 100%;
      height: auto;
      padding: 30px;
      
    }
    .menu h1 {
      margin-left: 5%;
    }
  }

