<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagamento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=IM+Fell+English+SC&family=Jacquard+24&family=Mate+SC&family=Nanum+Gothic&family=Rowdies:wght@300;400;700&display=swap"
        rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <header>
        <h6 id="texto">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! </h6>
    </header>
    <nav class="menu">

    </nav>

    <hr>

    <div class="topo">
    </div>


    <div class="container">
        <div class="formulario">
            <h1>Billing Details</h1>    
            <br><br><br><br>
            <form id="form1">
                <label for="">First Name <span>*</span></label>
                <br>
                <input id="form" type="text" required>
                <br><br>
                
                <label for="">Street Address <span>*</span></label>
                <br>
                <input id="form" type="text" required>
                <br><br>
                <label for="">Apartment, floor, etc, (optional) </label>
                <br>
                <input id="form" type="text" required>
                <br><br>
                <label for="">Town/City<span>*</span></label>
                <br>
                <input id="form" type="text" required>
                <br><br>
                <label for="">Phone Number <span>*</span></label>
                <br>
                <input id="form" type="tel" required>
                <br><br>
                <label for="">Email Address <span>*</span></label>
                <br>
                <input id="form" type="email" requiredq>
                <br><br>
        
            
            
        </div>


        <div class="geral">


            <div class="methodPay" id="methodPay">
                <div id="containerPay">


                </div>

                <div class="pay">
                    <h3>SubTotal: <span id="subTotal"></span></h3>
                    <br>
                    <hr>

                    <br>
                    <h3>Shipping: <p class="bag">Free</p>
                    </h3>
                    <br>
                    <hr>

                    <br>
                    <h3>Total: <span id="valorTotal"></span></h3>
                    <br>
                    <br>
                    <br>
                    <p class="bag"><img src="/public/img/logosCartao.svg" alt=""></p>

                    <div class="form-group">
                        <input class="radio" name="theradio" id="radio1" type='radio' checked />
                        <label for="radio1">Bank</label>
                    </div>

                    <div class="form-group">
                        <input class="radio" name="theradio" id="radio2" type='radio' />
                        <label for="radio2">Cash on delivery</label>
                    </div>
                    <br>
                    <div class="ultimo">
                        <div class="cupom">
                            <input type="" placeholder="Coupon Code">

                            <div class="botoes">
                                <button class="bag" type="">Apply Coupon</button>
                                <button id="space" type=""><input id="space" type="submit"></button>
                            </div>
                        </div>
                    </form>
                        
                    </div>
                    <br>

                    <br>


                </div>
            </div>
        </div>
    </div>


    <script src="/script/home.js"></script>
    <script src="/script/pagamento.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <!-- <script>

        const btnPagamento = document.getElementById("space")
        btnPagamento.addEventListener("click", () => {
            Swal.fire({
                
                title: "Compra realizada com sucesso!",
                text: "You clicked the button!",
                icon: "success"
            });
        })
    </script> -->
</body>
<%- include('partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.0/dist/sweetalert2.all.min.js"></script>
<script>

    
   

    
</script>
</html>