<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Animado</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/teste.css">
  
</head>
<body>
    <nav class="menu">

    </nav>

    <hr>
    
  <div class="container">
    <div class="check-container">
      <div class="check-mark-container">
        <div class="check-mark">✔</div>
      </div>
    </div>
    <div class="text-container">
      <p id="msg">Compra concluída com sucesso!</p>
    </div>
  </div>

  <script src="/script/home.js"></script>
</body>
</html>